include ../../components/slider/slider

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .site-wrp
            header.header
                h1.header__title SLIDER
            main.main main
                .main__slider
                    +slider({placeholder:"test-1"})
                //- .main__slider
                //-     +slider({placeholder:"test-2"})